<li>
  <%= gravatar_for user %>
  <%= link_to user.name, user %>
  <% if admin_role? user %>
    | <%= link_to t("users.new.delete"), user, method: :delete,
    data: { confirm: t("users.new.confirm") } %>
  <% end %>
</li>
