@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  padding: 0px 20px;
  margin-bottom: 0px;
  .nav {
    display: flex;
    justify-content: right;
    gap: 10px;
    align-items: center;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  margin: 0px 100px;
  background-color: #eaeaea;
  margin-bottom: 20px;
}

.section_yield {
  padding-top: 30px;
}

.image {
  margin-left: 70px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;

}

#logo {
  float: left;
  font-size: 1.7em;
  padding: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

footer {
  padding: 0px 20px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
